{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% block pageTitle %}Check your email - {{ super() }}{% endblock pageTitle %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your email</h1>
      <p class="govuk-body" {% if not config.IS_PRODUCTION %}data-notification-id="{{ notification_id }}"{% endif %}>We have sent an email to {{ email }}.</p>
      {{ govukInsetText(params={"text": "The link will work once and stop working after 15 minutes."}) }}

      <h2 class="govuk-heading-s">If you do not receive the email</h2>
      <p class="govuk-body">The email may take a few minutes to arrive.</p>
      <p class="govuk-body">
        Check your spam or junk folders – if it still has not arrived,
        <a href="{{ url_for('auth.request_a_link_to_sign_in') }}" class="govuk-link govuk-link--no-visited-state">request a new link</a>.
      </p>
    </div>
  </div>
{% endblock content %}
