{% extends "access_grant_funding/base.html" %}

{% block pageTitle %}Sign in - {{ super() }}{% endblock pageTitle %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="app-js-hidden" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Sign in"}) }}
      </form>
    </div>
  </div>
{% endblock content %}

{% block bodyEnd %}
  <script nonce="{{ csp_nonce() }}">
    document.getElementById("submit").click();
  </script>
{% endblock bodyEnd %}
