{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Confirm your details are correct" %}

{% block beforeContent %}
  {{ govukBackLink({"text": "Back", "href": back_link_href}) }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Create an organisation</span>
      <h1 class="govuk-heading-l">Confirm your details are correct</h1>

      {%
        set rows = [
          {
            "key": {"text": "Email address"},
            "value": {"text": current_user.email},
          },
          {
            "key": {"text": "Full name"},
            "value": {"text": org_session.user_name or current_user.name},
            "actions": {"items": [{
              "href": org_session.page_url(pages.USER_NAME, from_check_your_answers=True),
              "classes": "govuk-link--no-visited-state",
              "text": "Change",
              "visuallyHiddenText": "full name"
            }]} if org_session.needs_user_name else None
          },
          {
            "key": {"text": "Organisation type"},
            "value": {"text": org_session.organisation_type.label},
            "actions": {"items": [{
              "href": org_session.page_url(pages.TYPE, from_check_your_answers=True),
              "classes": "govuk-link--no-visited-state",
              "text": "Change",
              "visuallyHiddenText": "organisation type"
            }]}
          },
          {
            "key": {"text": "Organisation name"},
            "value": {"text": org_session.name},
            "actions": {"items": [{
              "href": org_session.page_url(org_session.name_page, from_check_your_answers=True),
              "classes": "govuk-link--no-visited-state",
              "text": "Change",
              "visuallyHiddenText": "organisation name"
            }]}
          }
        ]
      %}
      {% if org_session.can_share_email_domain %}
        {%
          set rows = rows + [
            {
              "key": {"text": "Allow team members to apply as " ~ org_session.name},
              "value": {"text": "Yes" if org_session.allow_team_members else "No"},
              "actions": {"items": [{
                "href": org_session.page_url(pages.TEAM_MEMBERS, from_check_your_answers=True),
                "classes": "govuk-link--no-visited-state",
                "text": "Change",
                "visuallyHiddenText": "whether team members can apply as " ~ org_session.name
              }]}
            }
          ]
        %}
      {% endif %}

      {{ govukSummaryList({"rows": rows}) }}

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Confirm and create organisation"}) }}
      </form>

      <p class="govuk-body">
        If there is a problem, contact our
        <a class="govuk-link govuk-link--no-visited-state" href="{{ config.ACCESS_SERVICE_DESK_URL }}" target="_blank">support desk (opens in new tab)</a>.
      </p>
    </div>
  </div>
{% endblock content %}
