{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "What is the name of your organisation?" %}

{% block beforeContent %}
  {{ govukBackLink({"text": "Back", "href": back_link_href}) }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set label_html %}
        <span class="govuk-caption-l">Create an organisation</span>
        {{ form.name.label.text }}
      {% endset %}

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{
          form.name(params={
            "label": {
              "html": label_html,
              "isPageHeading": true,
              "classes": "govuk-label--l",
            },
            "classes": "govuk-!-width-two-thirds",
          })
        }}
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
