{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "common/macros/all_questions.html" import render_all_questions with context %}
{% extends "access_grant_funding/base.html" %}

{% set collection = submission.collection %}
{% set page_title = "All questions - " ~ submission.long_collection_name %}
{% set active_item_identifier = collection.type.constants.active_nav %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      "href": url_for("access_grant_funding.tasklist", organisation_id=grant_recipient.organisation.id, grant_id=grant_recipient.grant.id, collection_type=collection.type, submission_id=submission.id),
      "text": "Back"
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ collection.name }}</span>
      <h1 class="govuk-heading-l">All questions</h1>

      <a
        href="{{ url_for('access_grant_funding.all_questions_pdf', organisation_id=grant_recipient.organisation.id, grant_id=grant_recipient.grant.id, collection_type=collection.type, submission_id=submission.id) }}"
        class="govuk-button govuk-button--secondary"
        download>
        Download as PDF
      </a>

      {{ render_all_questions(collection) }}
    </div>
  </div>
{% endblock content %}
