{% extends "admin/base.html" %}
{% import 'admin/layout.html' as layout with context %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% block beforeContent %}
  {% if grant.reports|length == 1 %}
    {{ govukBackLink({"text": "Back", "href": url_for('reporting_lifecycle.index') }) }}
  {% else %}
    {{ govukBackLink({"text": "Back", "href": url_for('reporting_lifecycle.select_report', grant_id=grant.id) }) }}
  {% endif %}
{% endblock %}

{% block action_panel %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ layout.messages() }}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ grant.name }} - {{ collection.name }}</span>
        Reporting lifecycle
      </h1>

      <p class="govuk-body">Prepare for a monitoring report to go live by completing these tasks.</p>

      <h2 class="govuk-heading-m">Platform tasks</h2>
      {% set rows=[] %}
      {%
        do rows.append({
          "title": {"text": "Set up organisations", "classes": "govuk-link--no-visited-state"},
          "status": {"html": govukTag({"text": organisation_count ~ (" organisation" if organisation_count == 1 else " organisations"), "classes": "govuk-tag--blue"})},
          "href": url_for('reporting_lifecycle.set_up_organisations', grant_id=grant.id, collection_id=collection.id),
        })
      %}
      {%
        do rows.append({
          "title": {"text": "Set up certifiers", "classes": "govuk-link--no-visited-state"},
          "status": {"html": govukTag({"text": certifiers_count ~ (" certifier" if certifiers_count == 1 else " certifiers"), "classes": "govuk-tag--blue"})},
          "href": url_for('reporting_lifecycle.set_up_certifiers', grant_id=grant.id, collection_id=collection.id),
        })
      %}
      {{ govukTaskList({ "idPrefix": "platform-tasks", "items": rows, "attributes": {"id": "platform-tasks"} }) }}

      <h2 class="govuk-heading-m">Grant tasks</h2>
      {% set rows=[] %}

      {% if grant.status == enum.grant_status.DRAFT %}
        {% set status_tag = govukTag({"text": "To do", "classes": "govuk-tag--grey"}) %}
        {% set link_href = url_for('reporting_lifecycle.mark_as_onboarding', grant_id=grant.id, collection_id=collection.id) %}
      {% else %}
        {% set status_tag = govukTag({"text": "Completed", "classes": "govuk-tag--green"}) %}
        {% set link_href = "" %}
      {% endif %}
      {%
        do rows.append({
          "title": {"text": "Mark as onboarding with Funding Service", "classes": "govuk-link--no-visited-state"},
          "status": {"html": status_tag},
          "href": link_href,
        })
      %}

      {% if grant.status in [ enum.grant_status.DRAFT, enum.grant_status.ONBOARDING ] %}
        {% set status_tag = govukTag({"text": "To do", "classes": "govuk-tag--grey"}) %}
        {% set link_href = url_for('reporting_lifecycle.make_live', grant_id=grant.id, collection_id=collection.id) %}
      {% else %}
        {% set status_tag = govukTag({"text": "Completed", "classes": "govuk-tag--green"}) %}
        {% set link_href = "" %}
      {% endif %}
      {%
        do rows.append({
          "title": {"text": "Make the grant live", "classes": "govuk-link--no-visited-state"},
          "status": {"html": status_tag},
          "href": link_href,
        })
      %}
      {%
        do rows.append({
          "title": {"text": "Set up grant recipients", "classes": "govuk-link--no-visited-state"},
          "status": {"html": govukTag({"text": grant_recipients_count ~ (" grant recipient" if grant_recipients_count == 1 else " grant recipients"), "classes": "govuk-tag--blue"})},
          "href": url_for('reporting_lifecycle.set_up_grant_recipients', grant_id=grant.id, collection_id=collection.id),
        })
      %}
      {%
        do rows.append({
          "title": {"text": "Set up grant recipient users", "classes": "govuk-link--no-visited-state"},
          "status": {"html": govukTag({"text": grant_recipient_users_count ~ (" user" if grant_recipient_users_count == 1 else " users"), "classes": "govuk-tag--blue"})},
          "href": url_for('reporting_lifecycle.set_up_grant_recipient_users', grant_id=grant.id, collection_id=collection.id),
        })
      %}
      {{ govukTaskList({ "idPrefix": "grant-tasks", "items": rows, "attributes": {"id": "grant-tasks"} }) }}

      <h2 class="govuk-heading-m">Report tasks</h2>
      {% set rows=[] %}
      {% set reportingDatesTag %}
        {% if collection.reporting_period_start_date and collection.reporting_period_end_date %}
          {{ govukTag({"text": "Completed" , "classes": "govuk-tag--green"}) }}
        {% else %}
          {{ govukTag({"text": "To do", "classes": "govuk-tag--grey"}) }}
        {% endif %}
      {% endset %}
      {%
        do rows.append({
          "title": {"text": "Set reporting dates", "classes": "govuk-link--no-visited-state"},
          "hint": {"text": format_date_range(collection.reporting_period_start_date, collection.reporting_period_end_date)} if collection.reporting_period_start_date and collection.reporting_period_end_date else {},
          "status": {"html": reportingDatesTag},
          "href": url_for('reporting_lifecycle.set_collection_dates', grant_id=grant.id, collection_id=collection.id) if collection.status == enum.collection_status.DRAFT else "",
        })
      %}


      {% set submissionDatesTag %}
        {% if collection.submission_period_start_date and collection.submission_period_end_date %}
          {{ govukTag({"text": "Completed", "classes": "govuk-tag--green"}) }}
        {% else %}
          {{ govukTag({"text": "To do", "classes": "govuk-tag--grey"}) }}
        {% endif %}
      {% endset %}
      {%
        do rows.append({
          "title": {"text": "Set submission dates", "classes": "govuk-link--no-visited-state"},
          "hint": {"text": format_date_range(collection.submission_period_start_date, collection.submission_period_end_date)} if collection.submission_period_start_date and collection.submission_period_end_date else {},
          "status": {"html": submissionDatesTag},
          "href": url_for('reporting_lifecycle.set_collection_dates', grant_id=grant.id, collection_id=collection.id) if collection.status == enum.collection_status.DRAFT else "",
        })
      %}

      {% set dates_are_set = collection.reporting_period_start_date and collection.reporting_period_end_date and collection.submission_period_start_date and collection.submission_period_end_date %}
      {% set all_recipients_have_users = grant_recipients_count > 0 and grant_recipient_users_count >= grant_recipients_count %}
      {% set prerequisites_met = grant.status == enum.grant_status.LIVE and grant_recipients_count > 0 and dates_are_set and all_recipients_have_users %}
      {% set scheduledReportStatus = {"tag": {"text": "To do", "classes": "govuk-tag--grey"} } %}

      {% if collection.status == enum.collection_status.SCHEDULED %}
        {% set scheduledReportStatus = {"tag": {"text": "Completed", "classes": "govuk-tag--green"} } %}
      {% elif not prerequisites_met %}
        {% set scheduledReportStatus = {"text": "Cannot start yet", "classes": "govuk-task-list__status--cannot-start-yet"} %}
      {% endif %}
      {%
        do rows.append({
          "title": {"text": "Sign off and lock report", "classes": "govuk-link--no-visited-state"},
          "status": scheduledReportStatus,
          "href": url_for('reporting_lifecycle.schedule_report', grant_id=grant.id, collection_id=collection.id) if prerequisites_met and collection.status != enum.collection_status.SCHEDULED else "",
        })
      %}

      {{ govukTaskList({ "idPrefix": "report-tasks", "items": rows, "attributes": {"id": "report-tasks"} }) }}
    </div>
  </div>
{% endblock %}
