name: 'Run Database Migrations'
description: 'Composite Action to run Database Migration script'
runs:
  using: "composite"
  steps:
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      with:
        python-version: 3.14.0

    - name: Install uv
      uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
      with:
        enable-cache: true

    - name: Install dependencies
      shell: bash
      run: uv sync

    - name: Run Database Migrations
      shell: bash
      run: |
        uv run scripts/run-ad-hoc-task.py --command "flask db upgrade"
