{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Your organisation is already applying" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("access_grant_funding.eligible_to_apply", grant_slug=grant.slug, collection_slug=collection.slug),
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ grant.name }}</span>
      <h1 class="govuk-heading-l">Your organisation is already applying</h1>

      <p class="govuk-body">An application has already been started by {{ organisation.name }}.</p>

      <p class="govuk-body">You can ask someone with access to add you from the Team page.</p>

      <h2 class="govuk-heading-m">Contact our support desk</h2>
      <p class="govuk-body">
        If you do not know anyone with access, contact our
        <a class="govuk-link govuk-link--no-visited-state" href="{{ service_desk_url }}" target="_blank">support&nbsp;desk&nbsp;(opens&nbsp;in&nbsp;new&nbsp;tab)</a>.
      </p>
      <p class="govuk-body">Monday to Friday 9am to 5pm (except public holidays).</p>
    </div>
  </div>
{% endblock content %}
