{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% set active_item_identifier = "team" %}

{% set page_title = "Team" %}

{% set can_add_team_members = feature_flags.ACCESS_GRANT_FUNDING_USER_MANAGEMENT.is_enabled and authorisation_helper.can_invite_access_grant_team_member(grant_recipient, current_user) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.ACCESS_TEAM_MEMBER_ADDED]) %}
        {% if flashes %}
          {% set team_member_added_html %}
            <h3 class="govuk-notification-banner__heading">Team member added</h3>
            <p class="govuk-body">{{ flashes[0]["user_name"] }} can now edit and submit for {{ grant_recipient.grant.name }}.</p>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": team_member_added_html,
              "type": "success"
            })
          }}
        {% endif %}
      {% endwith %}
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.ACCESS_TEAM_MEMBER_REMOVED]) %}
        {% if flashes %}
          {% set team_member_removed_html %}
            <h3 class="govuk-notification-banner__heading">Team member removed</h3>
            <p class="govuk-body">{{ flashes[0]["user_name"] }} was removed from {{ grant_recipient.grant.name }}. They can no longer edit and submit for this grant on behalf of {{ organisation.name }}.</p>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": team_member_removed_html,
              "type": "success"
            })
          }}
        {% endif %}
      {% endwith %}
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.ACCESS_TEAM_MEMBER_INVITED]) %}
        {% if flashes %}
          {% set team_member_invited_html %}
            <h3 class="govuk-notification-banner__heading">Team member invited</h3>
            <p class="govuk-body">We’ve emailed {{ flashes[0]["user_name"] }} an invite to {{ organisation.name }}’s {{ grant_recipient.grant.name }}.</p>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": team_member_invited_html,
              "type": "success"
            })
          }}
        {% endif %}
      {% endwith %}
      <h1 class="govuk-heading-l">{{ page_title }}</h1>
      {% if can_add_team_members %}
        {{
          govukButton({
            "text": "Add team member",
            "href": url_for("access_grant_funding.add_grant_team_member", organisation_id=organisation.id, grant_id=grant_recipient.grant.id),
            "classes": "govuk-button--secondary"
          })
        }}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if users | length == 0 %}
        <p class="govuk-body">There are no users for this grant.</p>
      {% else %}
        {% set rows = [] %}
        {% for user in users %}
          {% set permissions = [] %}
          {% set user_actions = namespace(can_remove=false) %}
          {% for role in user.roles %}
            {% if role.organisation_id == organisation.id and (role.grant_id is none or role.grant_id == grant_recipient.grant.id) %}
              {% for permission in role.permissions %}
                {% if permission == enum.role_enum.CERTIFIER %}
                  {% do permissions.append("Can certify") %}
                {% elif permission == enum.role_enum.DATA_PROVIDER %}
                  {% do permissions.append("Can edit and submit") %}
                {% endif %}
              {% endfor %}
              {% if role.grant_id == grant_recipient.grant.id and enum.role_enum.DATA_PROVIDER in role.permissions %}
                {% set user_actions.can_remove = true %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% set permission_text = permissions | unique | sort | join(', ') %}
          {% if can_add_team_members %}
            {% set action %}
              {% if user.id != current_user.id and user_actions.can_remove %}
                <a class="govuk-link" href="{{ url_for("access_grant_funding.remove_grant_team_member", organisation_id=organisation.id, grant_id=grant_recipient.grant.id, user_id=user.id) }}"
                  >Remove<span class="govuk-visually-hidden"> {{ user.name }}</span></a
                >
              {% endif %}
            {% endset %}
            {% do rows.append([{"text": user.name}, {"text": user.email}, {"text": permission_text}, {"html": action}]) %}
          {% else %}
            {% do rows.append([{"text": user.name}, {"text": user.email}, {"text": permission_text}]) %}
          {% endif %}
        {% endfor %}

        {% if can_add_team_members %}
          {% set head = [{"text": "Name"}, {"text": "Email"}, {"text": "Permissions"}, {"text": "Action"}] %}
        {% else %}
          {% set head = [{"text": "Name"}, {"text": "Email"}, {"text": "Permissions"}] %}
        {% endif %}

        {{
          govukTable({
              "captionClasses": "govuk-table__caption--m",
              "firstCellIsHeader": false,
              "head": head,
              "rows": rows
          })
        }}
      {% endif %}
    </div>
  </div>
  {% if invitations %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Invited</h2>
        <p class="govuk-body">Team members have 7 days to accept their invitation.</p>
        {% set invitation_rows = [] %}
        {% for invitation in invitations %}
          {% set permissions = [] %}
          {% for permission in invitation.permissions %}
            {% if permission == enum.role_enum.CERTIFIER %}
              {% do permissions.append("Can certify") %}
            {% elif permission == enum.role_enum.DATA_PROVIDER %}
              {% do permissions.append("Can edit and submit") %}
            {% endif %}
          {% endfor %}
          {% do invitation_rows.append([{"text": invitation.name or ""}, {"text": invitation.email}, {"text": permissions | sort | join(', ')}]) %}
        {% endfor %}
        {{
          govukTable({
              "firstCellIsHeader": false,
              "head": [{"text": "Name"}, {"text": "Email"}, {"text": "Permissions"}],
              "rows": invitation_rows
          })
        }}
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if can_add_team_members %}
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Certifier access</h2>
        <p class="govuk-body">
          To add or remove a certifier, contact us through our
          <a class="govuk-link govuk-link--no-visited-state" href="{{ service_desk_url }}" target="_blank">support desk (opens in new tab)</a>.
        </p>
      {% else %}
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Changing access and permissions</h2>
        <p class="govuk-body">
          To add or remove people and change their permissions, contact us through our
          <a class="govuk-link govuk-link--no-visited-state" href="{{ service_desk_url }}" target="_blank">support desk (opens in new tab)</a>.
        </p>
      {% endif %}
      <p class="govuk-body">Monday to Friday, 9am to 5pm (except public holidays).</p>
    </div>
  </div>
{% endblock content %}
