name: Run e2e tests

permissions:
  contents: read  # This is required for actions/checkout
  id-token: write  # This is required for authenticating with aws

on:
  workflow_call:
    inputs:
      environment:
        description: "Which AWS environment to test against."
        type: string
        required: true
        default: dev
    secrets:
      AWS_ACCOUNT:
        required: true
      SERVICE_ACCOUNT_USERNAME:
          required: true
      SERVICE_ACCOUNT_PASSWORD:
          required: true
  workflow_dispatch:
    inputs:
      environment:
        description:  Which AWS Account to use
        type: choice
        required: true
        options:
        - dev
        - test
    secrets:
      AWS_ACCOUNT:
        required: true
      SERVICE_ACCOUNT_USERNAME:
        required: true
      SERVICE_ACCOUNT_PASSWORD:
        required: true

jobs:
  e2e_tests:
    name: Run E2E tests
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14.0

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          enable-cache: true

      - name: Disable man-db triggers
        run: |
          # https://github.com/actions/runner-images/issues/10977
          # Disables man-db triggers, which have been a cause of huge (but variable) delays in github action jobs
          # completing; we're seeing pauses on this step of 120+ seconds in some rare cases.
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - name: Install playwright browsers
        run: uv run --frozen playwright install --with-deps chromium

      - name: Get current date
        shell: bash
        id: currentdatetime
        run: echo "datetime=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/GithubCopilotDeploy
          role-session-name: "funding-service_test_${{ steps.currentdatetime.outputs.datetime }}"
          aws-region: eu-west-2

      - name: run e2e tests
        run: uv run --frozen pytest --e2e --e2e-env ${{ inputs.environment }} --tracing=retain-on-failure --browser chromium -vv --durations=999 tests/e2e
        env:
          SERVICE_ACCOUNT_USERNAME: ${{ secrets.SERVICE_ACCOUNT_USERNAME }}
          SERVICE_ACCOUNT_PASSWORD: ${{ secrets.SERVICE_ACCOUNT_PASSWORD }}

      - name: Save test failure tracing
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: ${{ failure() }}
        with:
          name: playwright-traces
          path: test-results/*
